#contact {
    .page-section{
        padding: 25px;
    }
    .form-control {
        color: $black !important;
        background-color: #b6b4f0 !important;
        border: 1px solid #b6b4f0 !important;
        border-bottom: 2px $theme-dark solid !important;

        &:focus {
            border: 2px #1C213F solid !important;
            outline: none !important;
        }
    }
}