<div id="contact" class="body-wrapper shadow-lg p-3 rounded">
    <div class="col-sm-12 page-section shadow">
        <div class="row">
            <div class=" mx-auto page-section-header">
                <h2>Contact us</h2>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-md-6">
                <h5 class="pb-3">Contact Us</h5>
                <p> Banjara Hills,Hyderabad - 500 034, Telangana State, India
                    <br>Phone: (+91) 988 577 0262
                    <br>Phone: (+91) 800 814 4980
                    <br>Email: mdimmo@gmail.com</p>
            </div>
            <div class="col-md-6">
                <h5 class="pb-1">Drop us a line!</h5>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName4">Name</label>
                            <input type="text" class="form-control" id="inputName4" placeholder="Your Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Your Email">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputCity">Message: </label>
                            <textarea class="form-control" id="Textarea1" rows="3" placeholder="Your Message"></textarea>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-success col-12">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>