#login-page {
  position: relative;
  height: 100vh;
  background-image: url("../../../assets/images/p_m2.jpg");
  background-size: cover;
  overflow: auto;
  @include respond(phone) {
    .wrapper {
      top: 0 !important;
      width: 100% !important;
      .wrap-top,
      .wrap-bottom {
        border-radius: 0 !important;
        height: 50vh !important;
      }
      .wrap-top-signUp,
      .wrap-bottom-signUp {
        border-radius: 0 !important;
      }
      .wrap-bottom-signUp {
        height: 77vh !important;
        overflow: scroll !important;
      }
      .wrap-bottom,
      .wrap-bottom-signUp {
        form {
          width: 77% !important;
        }
      }
    }
  }
  @include respond(only-tab-land) {
    .wrapper {
      width: 70% !important;
    }
  }
  @include respond(tab-land) {
    .wrap {
      &-bottom {
        form {
          width: 77% !important;
        }
      }
      &-bottom-signUp {
        form {
          width: 90% !important;
        }
      }
    }
  }
  @include respond(big-desktop) {
    .wrap-bottom {
      padding-top: 6px !important;
    }
    .wrap-top-signUp {
      background-size: cover!important;
      height: auto!important;
    }
  }
  %wrap-tops {
    transition: height 1s linear;
    background-image: url("../../../assets/images/p_m.jpg");
    border-radius: 5% 5% 0 0;
    font-weight: 200;
    color: $white;
    p:first-child {
      font-size: 24px;
      margin-bottom: 6px;
    }
  }
  .wrapper {
    position: relative;
    top: 10%;
    width: 50%;
    .create-account {
      cursor: pointer;
      text-decoration: none;
      position: absolute;
      margin-top: -35px;
      left: 20px;
      color: $white;
      font-weight: 400;
      font-size: 16px;
    }
    .wrap-top {
      background-size: cover;
      height: 43vh;
      @extend %wrap-tops;
      &-signUp {
        background-size: 785px 280px;
        height: 23vh;
        @extend %wrap-tops;
      }
    }

    .wrap-bottom {
      transition: height 1s linear;
      form {
        width: 50%;
      }
      height: 36vh;
      &-signUp {
        form {
          width: 80%;
        }
        overflow: hidden;
        transition: height 1s linear;
        height: 60vh;
      }
    }
    .wrap-bottom,
    .wrap-bottom-signUp {
      border-radius: 0 0 5% 5%;
      font-weight: 200;
      background: white;
      color: $black;
      padding-top: 3%;
      h4 {
        color: #6d4586;
        text-transform: uppercase;
        padding-bottom: 2%;
      }
      a.text-dark {
        padding-bottom: 5px;
        padding-left: 25px;
        text-decoration: none;
        &:hover {
          color: #6d4586 !important;
          font-weight: 600;
        }
      }

      .text-center {
        button {
          width: 55%;
        }
      }

      // <custom form styles>
      input:focus {
        box-shadow: none;
      }
      .form {
        &-row {
          padding: 5px;
        }
        &-control {
          height: 30px;
          border: none;
          background: transparent;
          font-size: 13px;
          font-weight: 600;
          color: $black;
        }
        &-group {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-flow: row wrap;
          /* flex-flow: row wrap; */
          -ms-flex-align: center;
          align-items: center;
          .fa {
            color: white;
          }
          margin-bottom: 7px !important;
        }
        &-custom-style {
          padding-left: 10px;
          border-radius: 50rem !important;
          ::placeholder {
            color: whitesmoke;
            padding-left: 15px;
            font-weight: 200;
          }
          background-image: linear-gradient(-90deg, #352d68, #dc97aa);
        }
      }

      // </custom form styles>

      // <custom CheckBox>
      .custom-checkbox .custom-control-label::before {
        border-radius: 50%;
      }
      .custom-control-input:checked ~ .custom-control-label::before,
      .custom-control-input:checked ~ .custom-control-label ::after {
        color: #fff;
        border-color: #dda7ba;
        background-color: #dda7ba;
        border-radius: 50%;
      }
      // </custom CheckBox>

      // <Login-SignUp Animation>
      .btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      .btn i {
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .btn:hover span {
        padding-right: 25px;
      }
      .btn:hover i {
        opacity: 1;
        right: 0;
      }
      // </ Login-SignUp Animation>
    }
  }
}
