<div id="about-us" class="body-wrapper shadow-lg p-3 rounded">
    <div class="col-sm-12 page-section shadow">
        <div class="row">
            <div class=" mx-auto page-section-header">
                <h2>About us</h2>
            </div>
        </div>
        <div class="page-section-paragraph">
            <p>This Elite Platform's story.</p>
        </div>
        <div class="row">
            <div class="col-md-7 text-justify">
                <h5 class="pb-3">Placement Meant For You</h5>
                <p>
                    Brain child of Mr. Mohammed Imran, Research scholar in Electrical and Electronics Engineering
                    department having more than 5 years of experience as a placement coordinator for engineering
                    students is to spread his experience and knowledge with all of you at Placemeant For You with his
                    team!
                </p><br>
                <p>
                    This is an easily accessible electronic platform for students for a thorough guide for their campus
                    recruitment.We at 'PlaceMeant For You' help you get through your first and big step towards your
                    goal, the aptitude round. Make yourself free of chains of worry as we provide you with the online
                    test simulators identical to the actual aptitude process so that you feel comfortable and ready to
                    take your big day head on. Further, we provide you with the patterns of aptitude papers of various
                    companies, beneficial tricks and tips, mock papers that analyze your performance at the end along
                    with explanation and help you convert your weakness into strength. Focusing upon each question and
                    the topic it comes from, we aim at putting all our experience and heart into imparting the most
                    authentic and detailed information.We provide you everything you think of. Our main goal is to
                    making sure you ace the placement and succeed with flying colors in the recruitment process.
                </p>
            </div>
            <div class="col-md-5">
                <img src="../../../assets/images/about.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>