#dashboard {
    .card {
        width: 20rem;
        background-color: #b6b4f0;
        border: 0;

        &:hover {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
            border-radius: 1rem !important;

            .far,
            .fas {
                animation: fa-spin 1s infinite steps(8);
            }

        }
    }
}