<div id="dashboard" class="body-wrapper shadow-lg pt-0 pr-3 pb-3 pl-3 mb-5 rounded">
    <div class="row" uib-carousel active="0" interval="4000">
        <div uib-slide index="0">
            <img class="d-block w-100" src="../../../assets/images/3.jpg" alt="First slide" height="500px">
            <div class="carousel-caption ">
                <h2 class="m-0">We would love to</h2>
                <h1 class="text-uppercase m-0"> <strong> see you succeed </strong></h1>
                <p class=" d-none d-md-block">"Success is going from failure to failure without losing your enthusiasm."
                    -Winston Churchill</p>
            </div>
        </div>
        <div uib-slide index="1">
            <img class="d-block w-100" src="../../../assets/images/2.jpg" alt="Second slide" height="500px">
            <div class="carousel-caption ">
                <h2 class="m-0">Our services are to give an.</h2>
                <h1 class="text-uppercase m-0"> <strong> amazing experience </strong></h1>
                <p class=" d-none d-md-block">"We gain strength, and courage, and confidence by each experience in which
                    we really stop to look
                    fear in the face. We must do that which we think we cannot." ~ Eleanor Roosevelt.</p>
            </div>
        </div>
        <div uib-slide index="2">
            <img class="d-block w-100" src="../../../assets/images/1.jpg" alt="First slide" height="500px">
            <div class="carousel-caption ">
                <h2 class="m-0">We are the top level</h2>
                <h1 class="text-uppercase m-0"> <strong> strategy providers </strong></h1>
                <p class=" d-none d-md-block">"The Ladder of success is never crowded at the top"-Napoleon Hill.</p>
            </div>
        </div>
    </div>


    <div class="col-sm-12 page-section shadow">
        <div class="row">
            <div class=" mx-auto page-section-header">
                <h2>SERVICES</h2>
            </div>
        </div>
        <div class="page-section-paragraph">
            <p>Services provided by Mr. Mohammed Imran for All graduating students to help crack interviews and get
                placed in reputed companies.</p>
        </div>
        <div class="card-deck">
            <div class="card text-center">
                <div class="card-body">
                    <i class="far fa-lightbulb fa-large"></i>
                    <h5 class="card-title">Tips and Tricks</h5>
                    <p class="card-text">Tips and Tricks to crack interviews.</p>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-mobile-alt fa-large"></i>
                    <h5 class="card-title">Responsive Website</h5>

                    <p class="card-text">Easily accessable on your mobile</p>

                </div>
            </div>
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-atlas fa-large"></i>
                    <h5 class="card-title">Online Learning</h5>
                    Card subtitle</h6>
                    <p class="card-text">Learn Online by taking test and crack placement.</p>

                </div>
            </div>
            <div class="card text-center">
                <div class="card-body">
                    <i class="far fa-question-circle fa-large"></i>
                    <h5 class="card-title">Awesome Support</h5>
                    Card subtitle</h6>
                    <p class="card-text">Support for all students regarding placements.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 page-section shadow">
        <div class="row">
            <div class=" mx-auto page-section-header">
                <h2>WORK PROCESS</h2>
            </div>
        </div>
        <div class="page-section-paragraph">
            <p>PlaceMeant For You Provides you the Following.</p>
        </div>
        <div class="card-deck">

            <div class="card text-center">
                <div class="card-body">
                    <i class="far fa-clock fa-large"></i>
                    <h5 class="card-title">UPTO DATE</h5>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-tachometer-alt fa-large"></i>
                    <h5 class="card-title">PERFORMANCE ANALYZE</h5>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-laptop-code fa-large"></i>
                    <h5 class="card-title">ONLINE TEST</h5>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-code fa-large"></i>
                    <h5 class="card-title">CODE APPTITUDE</h5>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-chart-line fa-large"></i>
                    <h5 class="card-title">PATTERN OF TEST</h5>
                </div>
            </div>


            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-poll fa-large"></i>
                    <h5 class="card-title">RESULT ANALYSIS</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row parallax pbg-1">
        <div class="my-auto p-5 text-center text-white">
            <p class="large-font">
                SUCCESS DOES NOT LIE IN RESULTS BUT IN EFFORTS, BEING THE BEST IS NOT SO IMPORTANT, DOING THE BEST IS
                ALL THAT MATTERS....
            </p>
        </div>
    </div>
    <div class="col-sm-12 page-section shadow">
        <div class="row">
            <div class=" mx-auto page-section-header">
                <h2>Companies</h2>
            </div>
        </div>
        <div class="page-section-paragraph">
            <p>Here are the Tips and Tricks provided by Mr. Mohammed Imran for all graduating students to help crack
                interviews and get placed in reputed companies.</p>
        </div>
        <div class="card-deck">
            <div class="card">
                <img src="../../../assets/images/p1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Infosys</h5>
                    <p class="card-text">Infosys, a global leader in technology services & consultants to create &
                        execute digital transformation strategies..</p>
                    <div class="text-center">
                        <a href="#" class="card-link"><i class="fas fa-external-link-alt" aria-hidden="true"></i> View
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/p3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Service Now</h5>
                    <p class="card-text">Meet the Fastest-Growing Enterprise Software Company is a great idea born By
                        founder Fred Luddy.
                    </p>
                    <div class="text-center">
                        <a href="#" class="card-link"><i class="fas fa-external-link-alt"></i> View </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/p5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Capgemini</h5>
                    <p class="card-text">A French multinational world's largest IT company providing consulting,
                        out-sourcing and professional services.</p>
                    <div class="text-center">
                        <a href="#" class="card-link"><i class="fas fa-external-link-alt"></i> View </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/p7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Amazon</h5>
                    <p class="card-text">An American electronic commerce and cloud computing as largest Internet-based
                        retailer in the world .</p>
                    <div class="text-center">
                        <a href="#" class="card-link"><i class="fas fa-external-link-alt"></i> View </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row parallax pbg-2">
        <div class="my-auto p-5 text-center text-white w-100">
            <div class="row pb-3">
                <div class=" mx-auto page-section-header">
                    <h2>Testimonials</h2>
                </div>
            </div>
            <div id="carouselSlidesOnly" class="carousel slide pt-5" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-block w-100">
                            <p>"Quick glance on tips and tricks is very helpful before the interview"</p>
                            <i>Anonymous</i>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100">
                            <p> "Really helpful, many tests easy access . Best website for final year students."</p>
                            <i>Anonymous Cool.</i>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100">
                            <p> "Best Website to take quiz, The result analysis is very helpful to see our weaknesses."
                            </p>
                            <i>Anonymous</i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-12 page-section shadow">
        <div class="row">
            <div class=" mx-auto page-section-header">
                <h2>meet the team</h2>
            </div>
        </div>
        <div id="testimonials" class="carousel slide mt-4" data-ride="carousel">
            <ol class="carousel-indicators mt-4">
                <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials" data-slide-to="1"></li>
                <li data-target="#testimonials" data-slide-to="2"></li>
                <li data-target="#testimonials" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-deck">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/member1.jpg" class="card-img rounded-circle alt="
                                        member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Mohammed Imran</h5>
                                        <p class="card-text">CEO and Founder.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/member2.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Omar Sharif</h5>
                                        <p class="card-text">Manager.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/mem-tech.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Imadullah Sharief</h5>
                                        <p class="card-text">Technical Team, Website Designer and Developer.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-deck">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/mem-g.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Vrinda Lakhotia </h5>
                                        <p class="card-text">Write Up team.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/mem-g.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Farah Sultana</h5>
                                        <p class="card-text">Documentation Team.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/mem-g.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Sofia Marrium Hussain </h5>
                                        <p class="card-text">Documentation Team.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-deck">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/mem-g.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Syeda Ruquia Fatima</h5>
                                        <p class="card-text">Write Up Team.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/mem-tech.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Shaik Asaduddin</h5>
                                        <p class="card-text">Technical Team.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/mem-b.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Mohammed Mustaq Sajid</h5>
                                        <p class="card-text">Write Up Team.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-deck">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/mem-b.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Mohammed Abdul Kamran </h5>
                                        <p class="card-text">Write Up Team.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/mem-b.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Sulan</h5>
                                        <p class="card-text">Marketing Team.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/mem-b.jpg" class="card-img" alt="member">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Moin</h5>
                                        <p class="card-text">Documentation Team.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>